@import "tailwindcss";

@keyframes bgZoom {
  0% {
    transform: scale(1.15);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

.animate-bg {
  animation: bgZoom 1.5s ease-out forwards;
}


@keyframes loginPop {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.9);
  }
  70% {
    opacity: 1;
    transform: translateY(-5px) scale(1.02);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.animate-login {
  animation: loginPop 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
}